

@{
    ViewData["Title"] = "Purchase";
    Layout = "_Layout";
}

<script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.ClientId&currency=@ViewBag.Currency"></script>
<link rel="stylesheet" href="~/css/purchase.css">

<div class="wrapper">
    <div class="checkout container">
        <h3>Your purchase</h3>
        <div class="card">
            <div class="card-body">
                <p class="card-text">@ViewBag.Description</p>
                <p class="card-text">Price: @ViewBag.Price @ViewBag.Currency</p>
            </div>
            </div>

            <div id="paypal-button-container"></div>
            <script>
                paypal.Buttons({
                    style: {
                        layout: 'horizontal'
                    },
        createOrder: function (data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '@ViewBag.Price.00'
                    },
                    description: '@ViewBag.PaymentId'
                }],

            });
        },
        onApprove: function (data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function (details) {
                // This function shows a transaction success message to your buyer.
                alert('Transaction completed by ' + details.payer.name.given_name);
            });
        }
    }).render('#paypal-button-container');
  //This function displays Smart Payment Buttons on your web page.
            </script>
        </div>
    </div>